*{
    padding: 0;
    margin: 0;
}
.color-body {
    background-color: rgb(20, 20, 20);
}
.color-black{
    background-color: rgb(17, 16, 16);
}
.text-logo {
    display: inline;
    font-size: 1.4em;
}
.color-red{
    color: rgb(248, 39, 39);
}
.search{
    background-color: rgb(50, 50, 50);
    border: 0;
    color: rgb(247, 247, 248);
    padding-left: 1.5em;
}
.image-recommend {
    width: 100%;
    height: 25em;
    object-fit: cover;
}
.text-bold{
    font-weight: bolder;
} 
.size-img-card{
    height: 19rem;
    object-fit: cover;
}
.overlay {
    border-radius: 0.2em;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    background-color: #000000a7;
    border: 0.1em solid rgb(175, 110, 6);
}
.overlay:hover {
    opacity: 1;
}
.blur:hover .size-img-card {
    filter: blur(0.1em);
    padding: 0.4em;
    border-radius: 0.7em;
}
.bg-gray{
    background-color: rgb(41, 41, 41);
}
.bg-detail{
    background-color: rgb(28, 28, 28);
    border: 1em solid rgb(28, 28, 28);
}
.fs-7{
    font-size:0.7em;
}
.text-indent{
    text-indent: 3.5em;
}
.image-detail{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 768px) {
    .size-img-card {
        height: 11.5rem;
    }
    .overlay{
        padding-top: 0.5em;
    }
    .image-recommend {
        height: 10em;
    }
    .image-detail{
        height: 15em;
    }
}
@media screen and (max-width: 992px) {
    .image-detail {
            height: 15em;
        }
}
.contain{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
}
.width-100{
    width: 100%;
}